@import "../styles/theme.scss";

body {
    background-color: $primary-bg-color;
    color: $text-primary;
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    line-height: normal;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: $accent-bg-color;
}

input {
    color-scheme: only dark;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    opacity: 0.4;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1
}