$page-height: 100dvh;
$sidenav-width: 240px;
$header-height: 88px;

$padding-primary: 16px 32px;
$padding-small: 4px 8px;
$padding-end-of-page: 48px;

$border-radius-primary: 4px;

$primary-bg-color: #181820;
$accent-bg-color: #C89600;
$accent-bg-color-bright: #ffc71e;
$sidenav-primary-bg-color: #1a1a22;
$sidenav-header-bg-color: #1d1d26;

$text-primary: #e8e6e3;
$text-secondary: #a0988b;
$text-dark: #181820;
$text-accent: #C89600;
$text-accent-bright: #ffc71e;

$border-color-primary: #191921;
$shadow-primary: rgb(12 12 16) 0px 0px 8px 0px;
$shadow-light: rgb(12 12 16 / 20%) 0px 0px 8px 0px;